<div class="jumbotron">
  <h1>Covid-19 Quick Stats</h1>
  <p class="Source Title ml-5">
    Designed & Developed by <span class="text-success">Abhijeet Lokhande</span>
  </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <app-quick-fact></app-quick-fact>
    </div>
    <div class="col-md-8 col-sm-12">
      <app-world-stat></app-world-stat>
    </div>
  </div>
  <div class="row mt-5 ml-2">
    <div class="col-md-12 col-sm-12">
      <app-continent-wise-stat></app-continent-wise-stat>
    </div>
  </div>
  <div class="row mt-5 ml-2">
    <div class="col-md-12 col-sm-12">
      <app-india-stat></app-india-stat>
    </div>
  </div>
</div>
<button
  *ngIf="isShow"
  id="myBtn"
  title="Go to top"
  class="btn btn-success"
  (click)="gotoTop()"
>
  Top
</button>

<a
  href="https://www.hitwebcounter.com"
  target="_blank"
  style="visibility: hidden;"
>
  <img
    src="https://hitwebcounter.com/counter/counter.php?page=7228160&style=0005&nbdigits=5&type=page&initCount=0"
    title="User Stats"
    Alt="PHP Hits Count"
  />
</a>
